#fileUpload{
    display: none;
}
.fakebtn,
.fakebtn:hover,
.fakebtn:active:focus,
.fakebtn:focus
{
    width: 80px;
    background-color: white ;
    color: black ;
    font-size: 14px ;
    border-color: gray ;

}
#dataTitle{
    color: black;
    font-size: 15px;
    font-weight: bold;
}
#urlBox{
    display: none;
    position: relative;    
}
#urlRemove{
    background-color: red;
    color: white;
    position: absolute;
    top: 27px;
    right: 3px;
    z-index: 2;
    border: 0;
    border-radius: 100px;
    padding: 5px 15px;
}

#fileNames{
    border: #EBEBEB 2px solid;
    border-radius: 3px;
    width: 100%;
    height: 100px;
    margin-left: 2px;
    padding: 5px;
    overflow-y: auto;
}
.fileItem{
    background-color: #EBEBEB;
    display: inline-block;
    clear:both;
    float:left;
    padding: 5px;
    margin-bottom: 10px;
}