{% ckan_extends %}

{% block url_type_select %}
{{ super() }}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Replace the button with id "replace-button" after the content is loaded
        var oldUPButton = document.getElementById('resource-upload-button');
        if (oldUPButton) {
            // oldUPButton.id = 'UpBtn';
            oldUPButton.classList.add('upload-related-parts');
            oldUPButton.removeAttribute('onclick');
        }
        var oldLinkButton = document.getElementById('resource-link-button');
        if (oldLinkButton) {
            // oldLinkButton.id = 'LinkBtn';
            oldLinkButton.classList.add('upload-related-parts');
            oldLinkButton.removeAttribute('onclick');
        }
    });
</script>
{% endblock %}